body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 90vh;
    background-color: #f0f0f0;
}

video{
    background-size: cover;
    position: fixed;
    max-width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    filter: brightness(0.60);
}

.container {
    width: 350px;
    padding: 20px;
    margin-left: 250px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: transparent;
    backdrop-filter: blur(10px);
    float: left;
}

form {
    background: transparent;
    padding: 20px;
    margin: 20px;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
    color: white;
}

input {
    width: 92%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color:#233049;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: .5s ease;
    border: 2px solid #233049;
}

button:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px 5px white;
}

.error {
    color: red;
}